<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">102</defaultcontrol>
	<backgroundcolor>background</backgroundcolor>
	<menucontrol>6666</menucontrol>
	<controls>
		<!-- background -->
		<include>Background</include>
		<!-- lists -->
		<control type="grouplist" id="10">
			<include>Window_OpenClose</include>
			<defaultcontrol>102</defaultcontrol>
			<width>100%</width>
			<height>100%</height>
			<itemgap>-160</itemgap>
			<orientation>vertical</orientation>
			<usecontrolcoords>true</usecontrolcoords>
			<include>ScrollTime</include>
			<pagecontrol>17</pagecontrol>
			<include content="WidgetSpacer">
				<param name="id" value="101"/>
			</include>
			<!-- sys -->
			<include content="HomeSettingsWidget">
				<param name="id" value="102"/>
				<param name="onup" value="6666"/>
				<param name="ondown" value="103"/>
				<param name="color" value="blue"/>
				<param name="mainlabel" value="$INFO[ListItem.Label]"/>
				<param name="headline" value="$LOCALIZE[13000]"/>
				<param name="content" value="SettingsSys"/>
			</include>
			<!-- ui -->
			<include content="HomeSettingsWidget">
				<param name="id" value="103"/>
				<param name="onup" value="102"/>
				<param name="ondown" value="104"/>
				<param name="color" value="orange"/>
				<param name="mainlabel" value="$INFO[ListItem.Label]"/>
				<param name="headline" value="$LOCALIZE[480]"/>
				<param name="content" value="SettingsUI"/>
			</include>
			<!-- media -->
			<include content="HomeSettingsWidget">
				<param name="id" value="104"/>
				<param name="onup" value="103"/>
				<param name="ondown" value="105"/>
				<param name="color" value="turquoise"/>
				<param name="mainlabel" value="$INFO[ListItem.Label]"/>
				<param name="headline" value="$LOCALIZE[14211]"/>
				<param name="content" value="SettingsMedia"/>
			</include>
			<!-- other -->
			<include content="HomeSettingsWidget">
				<param name="id" value="105"/>
				<param name="onup" value="104"/>
				<param name="ondown" value="106"/>
				<param name="color" value="emby"/>
				<param name="mainlabel" value="$INFO[ListItem.Label]"/>
				<param name="headline" value="$LOCALIZE[14224]"/>
				<param name="content" value="SettingAddons"/>
			</include>
		</control>
		<!-- header bar -->
		<include content="HeaderBar">
			<param name="id">10</param>
		</include>
		<!-- side panel -->
		<include content="SidePanel">
			<param name="onright">10</param>
		</include>
	</controls>
</window>
